
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input {
    margin: 2px;
}

h2 {
    width: 50%;
    margin: 2px;
    text-align: center;
    margin: 20px auto 20px auto;
}

h3 {
    width: 50%;
    margin: 2px;
    text-align: right;
    margin: 0 auto;
}

div.container {
    background-color: yellow;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}